header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom:30px;
}
.navbar {
  padding: 0.5rem 0rem;
}
.navbar-nav li {
  margin-right: 24px;
}
.navbar-nav li a {
  font-size: 15px;
  font-weight: 500;
  color: #34495e;
  text-transform: uppercase;
}
