<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img />
        <form>
          <div class="form-group">
            <label for="user-name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="user-name" />
          </div>
          <div class="form-group">
            <label for="user-job" class="col-form-label">Job</label>
            <textarea class="form-control" id="user-job"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="custom-btn custom-btn-dark"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="custom-btn custom-btn-light">Add</button>
      </div>
    </div>
  </div>
</div>
