<div class=" login d-flex mx-auto">
  <div class="d-none d-md-block">
    <img
      src="assets/img/rectangle-copy.jpg"
      srcset="
        assets/img/rectangle-copy@2x.jpg 2x,
        assets/img/rectangle-copy@3x.jpg 3x
      "
    />
  </div>
  <div class="login__form d-flex flex-column justify-content-center">
    <h2>Welcome back!</h2>
    <p>Please Login to access your <strong>Spaces</strong> dashboard</p>
    <form #f="ngForm" (ngSubmit)="signIn(f.value)">
      <div class="form-group">
        <label for="email">Username</label>
        <input
          ngModel
          type="text"
          id="email"
          name="email"
          #email="ngModel"
          placeholder="Username..."
          class="form-control"
          required
          minlength="3"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          ngModel
          type="password"
          name="password"
          #password="ngModel"
          placeholder="************"
          class="form-control"
          required
          minlength="8"
        />
      </div>
      <div class="alert alert-danger" *ngIf="invalidLogin">
        {{ error.error }}
      </div>
      <div
        class="login__actions d-flex justify-content-between align-items-center"
      >
        <a>Forgot Password ?</a>
        <button type="submit" class="custom-btn custom-btn-dark">Login</button>
      </div>
    </form>
  </div>
</div>
