<div class="login d-flex m-auto">
  <div>
    <img
      src="assets/img/rectangle-copy.jpg"
      srcset="
        assets/img/rectangle-copy@2x.jpg 2x,
        assets/img/rectangle-copy@3x.jpg 3x
      "
      class="Rectangle-Copy"
    />
  </div>
  <div class="login__form d-flex flex-column justify-content-center">
    <h2>Welcome back!</h2>
    <p>Please Login to access your <strong>Spaces</strong> dashboard</p>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username..." class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  placeholder="************" class="form-control"/>
      </div>
      <div>
        <a>Forgot Password ?</a>
        <app-button text="Login"></app-button>
      </div>
    </form>
  </div>
</div>
