<div
  class="user d-flex justify-content-between align-items-center "
  [ngClass]="{ active: isActive(activeId, userId) }"
>
  <div class="user__data d-flex align-items-center">
    <img src="{{ img }}" />
    <h3>{{ name }}</h3>
  </div>
  <div class="user__actions" *ngIf="!isActive(activeId, userId)">
    <button
      type="button"
      (click)="setUpdateAction()"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <img src="assets/img/edit.svg" />
    </button>
    <button
      type="button"
      (click)="setDeleteAction()"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <img src="assets/img/delete.svg" />
    </button>
    <a class="user__expand"><img src="assets/img/arrow.svg"/></a>
  </div>
</div>
